/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 190px ;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  padding: 5px;
  margin-bottom: 10px;
}

/* Navigation Styles */
nav {
    background-color: #333;
  margin-top: 0px;
  text-align: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}
